

table.player {
  width: 50%;
}
table.player-passing {
  width: 60%;
}
table.player-years {
  width: 65%;
}
table.player-years-pass {
  width: 75%;
}
table.scores {
   max-width: 800px;
}

/*table.team-stats {
  width: 350px;
  table-layout: fixed;
}*/

div.main-box {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
}

div.box-score-container {
  display: flex;
  justify-content: space-between; /* push them to opposite sides */
  width: 800px;
}
.left-box, .right-box {
    width: 75%;  /* or whatever size you want */
    background: #e8f4e8;
    padding: 20px;
    margin: 100px;
}

.team-stats td, .team-stats th {
  text-align: center;
}

.team-stats th:nth-child(1),
.team-stats td:nth-child(1) {
  width: 20%;
}

.team-stats th:nth-child(2),
.team-stats td:nth-child(2) {
  width: 60%;
}

.team-stats th:nth-child(3),
.team-stats td:nth-child(3) {
  width: 20%;
}


.winner {
    font-weight: bold;
}

.loser {
    color: #555; /* slightly faded */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4fdf4;
  color: #1a1a1a;
  padding: 40px;
}

a:link.nav, a:visited.nav {
    color: black;
    padding: 30px 25px;
}

nav {
    padding-bottom: 10px;
}


/*Home page Leaders links*/
a:link.home, a:visited.home {
  background-color: #04AA6D;
  color: white;
  border-radius: 5px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

/*Playoff brackets link only*/
a:link.home2, a:visited.home2 {
  margin-left: 10rem;
  background-color: #047f04;
  transition: background-color 0.3s ease;
}

a:hover.home, a:hover.home2 {
  background-color: #0056b3;
}


.teamgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(75px);
  gap: 1rem;
}

.teamgrid a, a:visited {
  background-color: white;
  color: #047248;
  text-decoration: none;
  border-style: groove;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.teamgrid a:hover {
  background-color: #0056b3;
  color: white;
}

h1 {
  color: #2e7d32;
  margin: 5px 0 10px 0;
}
h3 {
  color: #2e7d32;
  margin: 10px 0 4px 0;
}

/* Table Styles */
.table-wrapper {
  overflow-x: auto;
}

table.table1 {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 5px 0 20px 0;
}

table thead {
  background-color: #a5d6a7;
  color: #1b5e20;
}

table th, table td {
  text-align: left;
  border-bottom: 1px solid #e0f2f1;
}

th {
  padding: 2px 8px;
  background-color: #27db99;
}

td {
  padding: 2px 8px;
  transition: background-color 0.3s ease;
}

table tbody tr:hover {
  background-color: #d2e0d2;
}

a:link.leader, a:visited.leader {
  text-decoration: none;
  color: black;
}

td:hover.link {
  background-color: #7b9abb;
}

a:hover.leader {
  color: white;
}

td.link > a {
   display: block; width: 100%; height: 100%;
}



/* Alternate row striping */
.table tbody tr:nth-child(even) {
  background-color: #f1f8e9;
}

/* Responsive */
@media (max-width: 768px) {
  table th, table td {
    padding: 0px;
    font-size: 14px;
  }
}

.header-container {
    display: flex;
    align-items: baseline;
    gap: 50px;           
    margin-bottom: 0px;
}

/*Season Select element*/
select.season-select {  
  background-color: #ffffff;
  border: 1px solid #a5d6a7;
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 16px;
  color: #1b5e20;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

select.season-select:focus {
  outline: none;
  border-color: #1dc587;
  box-shadow: 0 0 0 4px rgba(102, 187, 106, 0.2);
}

select.season-select:hover {
  border-color: #81c784;
  box-shadow: 0 0 0 2px rgba(102, 187, 106, 0.2);
}

/*DataTables search bar*/
#leaders_filter input {
  margin: 0px 50px 5px 30px;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #7d927d;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #e2e8f0;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
  color: #117213;
  transform: translateY(-2px);
}
